.mahesh{
    background-color: bisque;
    height:100px;
    text-align: justify;
    position: static;
}
.border{
    border:3px solid green;
    height:150px;
    width:150px;
    margin-left:100px;
    position: relative;
}
.footer{
    background-color: aqua;
   
    
    position: fixed;
    
}
.text{
    color:brown;
    text-transform: uppercase;
    text-decoration: dotted;
    border:3px solid green;
    width:350px;
    text-shadow: 1px 2px 2px  red;
    box-shadow: 2px 2px 4px black;
    
}
body{
    background-color: aqua;
    border:6px dotted red;
}